<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>게임관리 | GamePicker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/images/favi.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/global.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/games.css" />
    <script src="/public/js/game.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/manage">GamePicker</a></li>
            <li><a href="/manage/games">Games Manage</a></li>
            <li><a href="/manage/push">Push Notification</a></li>
            <li><a href="/manage/reply">Reply Questions</a></li>
            <li><a href="/manage/working">Working logs</a></li>
        </ul>
    </nav>
    <section id='main'>
    </section>
</body>
</html>