<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GameDetail | GamePicker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/images/favi.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/global.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/gameDetail.css" />
    <script src="/public/js/gameDetail.js"></script>
</head>
<body>
    <nav id='sidebar'></nav>
    <section id = 'main'>
        <article id='title'>
            <h1>제목</h1>
            <input type="text" placeholder="">
        </article>

        <article id='developer'>
            <h1>개발</h1>
            <input type="text" placeholder="">
        </article>

        <article id='publisher'>
            <h1>배포</h1>
            <input type="text" placeholder="">
        </article>

        <article id='age_rate'>
            <h1>이용등급</h1>
            <input type="text" placeholder="">
        </article>

        <article id='summary'>
            <h1>요약</h1>
            <input type="text" placeholder="">
        </article>

        <article id='images'>
            <h1>이미지</h1>
            <div id='imageAdder' class="addButton">
                <div>+</div>
            </div>
            <div class="container">
            </div>
        </article>

        <article id='videos'>
            <h1>영상</h1>
            <div id='videoAdder' class="addButton">
                <div>+</div>
            </div>
            <div class="container">
            </div>
        </article>

        <article id='tags'>
            <h1>태그</h1>
            <div class="container"></div>
        </article>

        <article id='platforms'>
            <h1>플랫폼</h1>
            <div class="container"></div>
        </article>
    </section>
</body>
</html>