<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GameDetail | GamePicker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/global.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/gameDetail.css" />
    <script src="/public/js/nav.js"></script>
    <script src="/public/js/gameDetail.js"></script>
</head>
<body>
    <section id = 'main'>
        <article id='title'>
            <h1>제목</h1>
            <input type="text" placeholder="">
        </article>

        <article id='developer'>
            <h1>개발</h1>
            <input type="text" placeholder="">
        </article>

        <article id='publisher'>
            <h1>배포</h1>
            <input type="text" placeholder="">
        </article>

        <article id='age_rate'>
            <h1>이용등급</h1>
            <select>
                <option value="심의등급없음">심의등급없음</option>
                <option value="전체이용가" selected>전체이용가</option>
                <option value="12세이용가">12세이용가</option>
                <option value="15세이용가">15세이용가</option>
                <option value="청소년이용불가">청소년이용불가</option>
            </select>
        </article>

        <article id='summary'>
            <h1>요약</h1>
            <textarea></textarea>
        </article>

        <article id='images'>
            <h1>이미지</h1>
            <div id='imageAdder' class="addButton">
                <div>+</div>
            </div>
            <div class="container">
            </div>
        </article>

        <article id='videos'>
            <h1>영상</h1>
            <div id='videoAdder' class="addButton">
                <div>+</div>
            </div>
            <div class="container">
            </div>
        </article>

        <article id='platforms'>
            <h1>플랫폼</h1>
        </article>

        <article id='features'>
            <h1>특성</h1>
            <table class="select">
                <thead>
                    <tr>
                        <th>특성</th>
                        <th>1점</th>
                        <th>2점</th>
                        <th>3점</th>
                        <th>4점</th>
                        <th>5점</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </article>

        <section>
            <input type="button" value="수정" id='game-update'>
        </section>
    </section>
</body>
</html>