.games {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    width: calc(100% - 16px);
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
    background-color: #fff;
}

.games:hover {
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.games > div {
    float: right;
    color: #d9534f;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    margin: 8px 0;
    font-weight: bold;
    display: none;
}

.games:hover > div {
    display: inline;
}

.games > div:hover {
    color: #c9302c;
}

#game-list {
    padding-top: 64px;
    width: 100%;
}

#search-games {
    width: inherit;
    background-color: #F1F2F7;
    height: 64px;
    overflow: hidden;
    top: 0;
    position: fixed;
}

#search-games > input[type='text'] {
    width: calc(100% - 128px - 16px);
    height: 48px;
    margin: 8px;
    padding: 0 16px;
    font-size: 1.2em;
}

#search-games > input[type='button'] {
    height: 48px;
    width: 112px;
    margin: 8px;
    float: right;
}