article {
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

article > h1 {
    margin: 16px 0;
}

.container::-webkit-scrollbar {
    height: 0px;
}

.container > div {
    position: relative;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    background-color: #eee;
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.container > div > .deleteButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    display: none;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.container > div:hover > .deleteButton {
    display: initial;
}

.container > div > img {
    height: 100%;
}

.container > div:hover > img {
    filter: blur(4px);
}

.container > img {
    height: 150px;
    border-radius: 4px;
}

.contianer > iframe {
    height: 150px;
}

.container {
    width: calc(100% - 160px);
    height: 150px;
    float: left;
    white-space:nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.addButton {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #aaa;
    border-radius: 4px;
    border: 3px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    background-color: transparent;
    margin-right: 10px;
}

.addButton:hover {
    border-color: rgba(0,0,0,0.6);
}

.addButton > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 47px auto;
    text-align: center;
    border-radius: 25px;
    font-size: 3em;
    box-sizing: border-box;
    color: rgba(0,0,0,0.3);
}

.addButton:hover > div {
    color: rgba(0,0,0,0.6);
}

article#videos {
    height: 219px;
}