article {
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

article > h1 {
    margin: 16px 0;
}

article > input {
    width: 100%;
}

.container > img {
    height: 150px;
    border-radius: 4px;
}

.contianer > iframe {
    height: 150px;
}

.container {
    width: calc(100% - 160px);
    overflow: hidden;
    float: left;
    overflow-x: scroll;
    white-space:nowrap;
}

.addButton {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #aaa;
    border-radius: 4px;
    border: 3px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    background-color: transparent;
    margin-right: 10px;
}

.addButton:hover {
    border-color: rgba(0,0,0,0.6);
}

.addButton > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 47px auto;
    text-align: center;
    border-radius: 25px;
    font-size: 3em;
    box-sizing: border-box;
    color: rgba(0,0,0,0.3);
}

.addButton:hover > div {
    color: rgba(0,0,0,0.6);
}

article#videos {
    height: 219px;
}