@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

input {
    border-radius: 4px;
    height: 40px;
    border: 1px inset rgba(0,0,0,0.3);
    box-sizing: border-box;
}

nav#sidebar {
    background-color: #313942;
    width: 200px;
    float: left;
    height: 100%;
}

nav#sidebar li {
    color: #CCCCCC;
    font-size: 1em;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}

section#main {
    background-color: #EFF3F6;
    width: calc(100% - 200px);
    float: left;
    height: 100%;
    overflow-y: scroll;
}

section#main > article {
    background-color: #FFFFFF;
    margin: 16px;
    width: calc(100% - 32px);
    box-sizing: border-box;
}