.pushOption {
    float: left;
    width: calc(50% - 32px);
    margin: 0 16px;
}

@media (max-width: 1024px) {
    .pushOption {
        width: calc(100% - 32px)
    }
}

.pushOption:last-child {
    width: calc(100% - 32px);
}
