

.pushOption {
    float: left;
    width: 128px;
    margin: 16px;
}

.pushOption > h1 {
    background-color: #313942;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
    margin: 0;
    margin-bottom: 16px;
}

.pushOption > article {
    text-align: center;
    background-color: #313942;
    color: white;
    margin: 4px 0;
}